DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=poll_voting_db
JWT_SECRET=your_jwt_secret_key_here_change_in_production
JWT_EXPIRATION=3600
APP_PORT=3000
FRONTEND_URL=https://dulcet-dragon-9e52bc.netlify.app/
DATABASE_URL=postgresql://neondb_owner:npg_6ElKHYGLsq1h@ep-sweet-glade-abq3r0yh-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
